
/*表格风格*/
.mm
{
	border-collapse: collapse;
	text-align:center;
	width:95%;
	margin:0 auto;
	cellspacing:0 ;
	cellpadding:0 ;
	border:1px solid #d9e1e9;
}
.mm th
{
	height:40px;
	text-align:center;
	background-color:#F5F5F5;
	border: 1px solid #d9e1e9;
	text-align:center;
}
.mm td
{
	cellspacing:0;
	cellpadding:0;
	width:80px;
	padding:10px 0px; 
	border: 1px solid #d9e1e9;
}

a:link
{
	text-decoration:none;

}

.mmmm
{
	 height:31px;background:url(/images/zjm-huisetiao_10.jpg);
vertical-align :middle ;line-height:27px; padding-left:10px;
}